Datasets

Conjunto de dados

In [1]:
f = open('salarios.csv', 'r')

In [7]:
data = f.read()

In [4]:
# Split/Dividir
# dados.split('divisao')
# Divide/Separa os dados conforme o marcador especificado

Dividindo a partir das linhas

In [6]:
rows = data.split('\n')
#print(rows)

Dividindo a partir das colunas

In [21]:
f = open('salarios.csv', 'r')
data = f.read()
rows = data.split('\n')

In [22]:
full_data = []
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
#print (full_data)

Contagem das linhas do arquivo

In [27]:
count = 0
for row in full_data:
    count += 1
count

44602

Contagem das colunas do arquivo

In [25]:
frist_row = []
for row in rows:
    split_row = row.split(",")
    full_data.append(split_row)
    frist_row = full_data[0]

In [28]:
count = 0
for column in frist_row:
    count += 1
count

4

Pandas

In [29]:
import pandas as pd

In [30]:
file_name = 'binary.csv'

In [31]:
df = pd.read_csv(file_name)

In [32]:
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [33]:
file2 =  'salarios.csv'

In [34]:
df1 = pd.read_csv(file2)
df1.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

Manipulação de arquivos txt

In [35]:
text = 'Um mago nunca revela seus segredos'

In [37]:
# Importando os
# Operation System: Sistema operacional
# Manipular o S.O.
import os

In [40]:
# Criando um arquivo
file = open(os.path.join('manipulacao_txt.txt'), 'w')

In [41]:
# Gravando dados no arquivo
for word in text.split():
    file.write(word + ' ')

In [42]:
# Fechando os arquivos
file.close()

In [44]:
# Lendo e imprimindo o arquivo
arquivo = open('manipulacao_txt.txt', 'r')
conteudo = arquivo.read()
arquivo.close()

print(conteudo)

Um mago nunca revela seus segredos

In [45]:
# com o arquivo aberto como arquivo
# leia e grave em conteudo
# Palavra reservada with
with open('manipulacao_txt.txt', 'r') as arquivo:
    conteudo = arquivo.read()
# Close é chamado automaticamente

In [1]:
print (conteudo)

NameError: name 'conteudo' is not defined

Manipulando arquivos .csv (comma separeted values) Arquivos separados por virgula.

In [2]:
# Importando o pacote
import csv

In [5]:
# Escrevendo no arquivo
with open('numeros.csv', 'w') as arquivo:
    writer = csv.writer(arquivo)
    writer.writerow(('Primeiro', 'Segundo', 'Terceiro'))
    writer.writerow((10, 20, 30))
    writer.writerow((62, 14, 15))

In [6]:
# Lendo o arquivo
with open('numeros.csv') as arquivo:
    leitor = csv.reader(arquivo)
    for x in leitor:
        print ('Qtd colunas: ', len(x))
        print (x)

Qtd colunas:  3
['Primeiro', 'Segundo', 'Terceiro']
Qtd colunas:  3
['10', '20', '30']
Qtd colunas:  3
['62', '14', '15']

In [8]:
# Gerando uma lista com dados do arquivo csv
with open('numeros.csv') as arquivo:
    leitor = csv.reader(arquivo)
    dados = list(leitor)

print (dados)

[['Primeiro', 'Segundo', 'Terceiro'], ['10', '20', '30'], ['62', '14', '15']]

Manipulando arquivos JSON (Java Script Object Notation)

Bastante similar a um dicionario.

In [13]:
dict = {'nome': 'Lucas Macedo',
       'linguagem': 'portugues',
       'similar': ['Espanhol', 'Ingles', 'Latim'],
       'usuarios': 9000}

In [11]:
# Importando o pacote
import json

In [14]:
# Convertendo o dicionario em json
# funcao json.dumps(dicionario)
json.dumps(dict)

'{"nome": "Lucas Macedo", "linguagem": "portugues", "similar": ["Espanhol", "Ingles", "Latim"], "usuarios": 9000}'

In [15]:
# Criando um arquivo Json
with open('dados.json', 'w') as arquivo:
    arquivo.write(json.dumps(dict))

In [18]:
# Lendo um json
with open('dados.json', 'r') as arquivo:
    text = arquivo.read()
    data = json.loads(text)

In [19]:
print (data)

{'nome': 'Lucas Macedo', 'linguagem': 'portugues', 'similar': ['Espanhol', 'Ingles', 'Latim'], 'usuarios': 9000}

In [21]:
print (data['linguagem'])

portugues

In [23]:
# Baixando arquivos json da internet
# Metodo urlopen('url')

# Importando o pacote
from urllib.request import urlopen

response = urlopen('http://vimeo.com/api/v2/video/57733101.json').read().decode('utf8')
data = json.loads(response)[0]

In [24]:
print ('Titulo: ', data['title'])

Titulo:  The Good Man trailer

In [25]:
# Copiando o arquivo para outro

import os
fonte = 'dados.json'
destino = 'json_data.txt'

In [26]:
# Metodo 1
with open(fonte, 'r') as infile:
    text = infile.read()
    with open(destino, 'w') as outfile:
        outfile.write(text)

In [27]:
# Metodo 2

open(destino, 'w').write(open(fonte, 'r').read())

112

In [28]:
# Leitura dos dados
with open('json_data.txt', 'r') as arquivo:
    texto = arquivo.read()
    data = json.loads(texto)
print (data)

{'nome': 'Lucas Macedo', 'linguagem': 'portugues', 'similar': ['Espanhol', 'Ingles', 'Latim'], 'usuarios': 9000}